
@{
    ViewBag.Title = "availabletest";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="mar">

    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Available Test</h2>
    </div>

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        @*<div class="alert alert-warning" role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <strong>Important!</strong> Main feature of this page is "Change photo" function. Press button "Change photo" and try to use this awesome feature.
                            </div>*@
                    </div>
                    <div class="panel-body testAva">
                        <div class="row" id="dvAvailablePapers">


                            @*<div class="col-md-4">

                                    <div class="widget widget-danger widget-item-icon">
                                        <div class="widget-item-right">
                                            <a href="/User/testdetail" class="btn btn-default btn-sm active">Free</a>
                                        </div>
                                        <div class="widget-data-left">

                                            <div class="widget-title">iOS 2014 Paper Type BB Class1</div>

                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-4">

                                    <div class="widget widget-danger widget-item-icon">
                                        <div class="widget-item-right">
                                            <button type="button" class="btn btn-primary btn-sm active">Buy</button>
                                        </div>
                                        <div class="widget-data-left">

                                            <div class="widget-title">iOS 2014 Paper Type BB Class1</div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">

                                    <div class="widget widget-danger widget-item-icon">
                                        <div class="widget-item-right">
                                            <button type="button" class="btn btn-primary btn-sm active">Buy</button>
                                        </div>
                                        <div class="widget-data-left">

                                            <div class="widget-title">iOS 2014 Paper Type BB Class1</div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">

                                    <div class="widget widget-danger widget-item-icon">
                                        <div class="widget-item-right">
                                            <button type="button" class="btn btn-primary btn-sm active">Buy</button>
                                        </div>
                                        <div class="widget-data-left">

                                            <div class="widget-title">iOS 2014 Paper Type BB Class1</div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">

                                    <div class="widget widget-danger widget-item-icon">
                                        <div class="widget-item-right">
                                            <button type="button" class="btn btn-primary btn-sm active">Buy</button>
                                        </div>
                                        <div class="widget-data-left">

                                            <div class="widget-title">iOS 2014 Paper Type BB Class1</div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">

                                    <div class="widget widget-danger widget-item-icon">
                                        <div class="widget-item-right">
                                            <button type="button" class="btn btn-primary btn-sm active">Buy</button>
                                        </div>
                                        <div class="widget-data-left">

                                            <div class="widget-title">iOS 2014 Paper Type BB Class1</div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">

                                    <div class="widget widget-danger widget-item-icon">
                                        <div class="widget-item-right">
                                            <button type="button" class="btn btn-default btn-sm active">Free</button>
                                        </div>
                                        <div class="widget-data-left">

                                            <div class="widget-title">iOS 2014 Paper Type BB Class1</div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">

                                    <div class="widget widget-danger widget-item-icon">
                                        <div class="widget-item-right">
                                            <button type="button" class="btn btn-primary btn-sm active">Buy</button>
                                        </div>
                                        <div class="widget-data-left">

                                            <div class="widget-title">iOS 2014 Paper Type BB Class1</div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">

                                    <div class="widget widget-danger widget-item-icon">
                                        <div class="widget-item-right">
                                            <button type="button" class="btn btn-default btn-sm active">Free</button>
                                        </div>
                                        <div class="widget-data-left">

                                            <div class="widget-title">iOS 2014 Paper Type BB Class1</div>

                                        </div>
                                    </div>

                                </div>*@


                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT WRAPPER -->

</div>