
@{
    ViewBag.Title = "customtest";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="mar">
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2><span class="fa fa-arrow-circle-o-left"></span> Custom Test</h2>

                        </div>
                        <div class="panel-body">
                            @*<div class="alert alert-warning" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <strong>Important!</strong> Main feature of this page is "Change photo" function. Press button "Change photo" and try to use this awesome feature.
                                </div>*@
                        </div>
                        <div class="panel-body">


                            <div class="form-group" style="position:relative;">
                                <label class="col-md-3 col-xs-12 control-label">Select Class</label>
                                <div class="col-md-6 col-xs-12">
                                    <span class="dropdown" style="position:absolute; right:20px; top:5px; z-index:1;"><span class="caret dropdown"></span></span>
                                    <select id="CustomRegClass" class="form-control">
                                        <option>Class 1</option>
                                        <!--<option>Class 2</option>
                                            <option>Class 3</option>
                                            <option>Class 4</option>
                                            <option>Class 5</option>-->
                                    </select>

                                </div>
                            </div>

                            <div class="row" id="CustomdvSubjectsUnderaClass">
                                @*<div class="col-md-3">
                                        <a href="/User/createtest" class="tile tile-danger tile-valign">
                                            <i class="fa fa-flask"></i></span>
                                            <span>Science</span>
                                        </a>

                                    </div>
                                    <div class="col-md-3">
                                        <a href="/User/createtest" class="tile tile-danger tile-valign">
                                            <i class="fa fa-calculator"></i></span>
                                            <span>Maths</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="/User/createtest" class="tile tile-danger tile-valign">
                                            <span class="fa fa-calendar"></span>
                                            <span>English</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="/User/createtest" class="tile tile-danger tile-valign">
                                            <i class="fa fa-laptop"></i></span>
                                            <span>Computer</span>
                                        </a>
                                    </div>*@


                            </div>
                        </div>

                    </div>
                </form>

            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT WRAPPER -->

</div>
