<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
     <add name="DefaultConnection" connectionString="Data Source=szdbinstance.cn2peiuhfi8s.ap-south-1.rds.amazonaws.com;Initial Catalog=SZMentorDBNew;User Id=silverzonedb;Password=szdb2k2017" providerName="System.Data.SqlClient"/>
   <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=SZOnline;Integrated Security=SSPI; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="defaultconnection" connectionString="data source=184.168.194.53;initial catalog=olympiad;user id=Olympiad;password=Ivbo6~64" providerName="system.data.sqlclient" />
    <add name="DefaultConnection" connectionString="Data Source=113.30.141.74;Initial Catalog=silverzoneonline;User Id=silverzonedb;Password=Szpwd@123$" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Olympiad;User ID=sa; Password=system;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=Olympiad;Integrated security=true;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>