@{
    ViewBag.Title = "Access Denied";
}

<h2>
    @*<img src="~/Images/Eror.jpg" style="padding-top: 20px;padding-bottom: 20px;min-height: 650px;" />*@

    <h2>You do not permission to access this page</h2>
</h2>

@Html.ActionLink("Relogin", "login","account")

